.card-header-color
{
    background-color:rgb(224, 72, 153);
    color: rgb(112, 4, 83);
}
.box {
    display:block;
    padding: em;
    margin: 1em;
    border: 3px solid #ddd;
    background-color: #eee;
    max-width: 800px;
  }
  
  input {
    height: 2em;
  /*width: 2em; */
    vertical-align: middle;
  }
  .card-header-list-color
  {
    background-color:rgb(10, 143, 161);
    color: rgb(5, 15, 22);
}